NODE_ENV=development
PORT=3001
JWT_SECRET=
JWT_EXPIRES_IN=2d
DATABASE_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
FRONTEND_URL=http://localhost:3000
EMAIL_SERVICE_URL=http://localhost:3002
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
RIDER_SERVICE_URL=http://localhost:3001
TRIP_SERVICE_URL=http://localhost:3005